
@{
    ViewData["Title"] = "NavBar";
}
    <div class="navbar">
    <a   asp-action="Index" >Menu</a>
    <a   asp-action="# ">Contact</a>
    </div>
    <div class="container">
        @RenderBody()
    </div>

